<style type="text/css">
	html{
	margin: 0;
	height: 100%;
	background: url('/errors/404.jpg') white;
	background-position:center center;
	background-repeat: no-repeat;
	font: 12px/18px Verdana, Tahoma, Arial, sans-serif;
	color: black;
	background-attachment:fixed;
	}
	.centerr{
		position: relative;
		/*float: left;*/
		padding: 5px;
		/*top: 37%;*/
		/*left: 50%;*/
		border: 1px solid black;
		display: block;
		background: #fff;
	}
</style>
	<?PHP header("Content-Type: text/html; charset=utf-8");?>
	<meta http-equiv="content-type" content="text/html" charset="UTF-8" />
	<center ><div class="centerr"><h2>404 <a href="/">up index</a></h2></div></center>