input{
	color: black;
}
textarea{
	color: black;
}

input:focus { outline: none; }
textarea:focus { outline: none; resize: none;}
textarea{ outline: none; resize: none; width:100%; height: 200px;}
input.title{ outline: none; width: 100%;}
.edit{
	position: relative;
	/*top: -20px;*/
	float: right;
	width: 25px;
	height: 23px;
	vertical-align: center;
	text-align: center;

}
.delete{
	position: relative;
	/*top: -20px;*/
	float: right;
	width: 25px;
	height: 23px;
	vertical-align: center;
	text-align: center;
}
button.title {border: 0; background: 0;}
button.title:hover {border: 0; background: 0; color:white;}
button.title:focus {border: 0; background: 0;}
.inbody{ margin-left: 5px }