
html, body{
	margin: 0;
	height: 100%;
	/*background: url('image/planet_big.jpg') black;*/
	background: url('image/bg.jpg') black;
	background-position:center center;
	background-repeat: no-repeat;
	font: 12px/18px Verdana, Tahoma, Arial, sans-serif;
	color:white;
	}
td{vertical-align: top; padding:0px; margin: 0px;}
hr{border:1px dashed #fff;}
.tableBody{
	padding-top: 140px;
	width:850px;  
	height:100%;
	overflow: hidden;
	}
.header{}	
.container{height:100%;}
.menu{
	font-size: 9pt;
	font-family: Verdana;
	vertical-align: top;}
.login_enter
{
	position: relative;
	float:right;
	margin-right:3px;
	padding:3px 5px;
	height: 19px;
	cursor:pointer;
	border:1px solid #282828;
	border-top: 1px solid #4a4a4a;
	background: #373737;
	vertical-align: middle;
}
input[type="text"].logins
{
	width:153px;
	border:1px solid #282828;
	border-top: 1px solid #4a4a4a;
}
input[type="password"].logins
{
	width:153px;
	border:1px solid #282828;
	border-top: 1px solid #4a4a4a;
}

.bar
{
	position: relative;
	float: right;
	margin-right:3px;
	padding:3px 5px;
	height: 19px;
	cursor: pointer;
	border:1px solid #282828;
	border-top: 1px solid #4a4a4a;
	background: #373737;
	vertical-align: middle;
}
.headlink_right{
	position: relative;
	float:right;
	margin-right:3px;
	padding:3px 5px;
	height: 19px;
	cursor:pointer;
	border:1px solid #282828;
	border-top: 1px solid #4a4a4a;
	background: #373737;
	vertical-align: middle;
}

.headlink_right:hover{
	border:1px solid #282828;
	border-top: 1px solid #595959;
	background: #454545; color: #969696;
}
.headlink_right:active{padding-top: 4px;padding-bottom: 2px; color: white;}
	
.login{
	position: relative;
	float: right;
	left: 0px;
	top: 0px;
	width:	100%;
	border:1px solid black;
	z-index: 1;
	}




//button t{margin-top: -3px; font-size:17px; margin-left:5px;float:left;}
.linkMenu{
	position:relative;
	padding: 5px;
	width: 158px;
	cursor:pointer;
	color: #969696;
	outline: none;
	border:1px solid #282828;
	border-top: 1px solid #4a4a4a;
	background: #373737;
}
.linkMenu:hover{
	border:1px solid #282828;
	border-top: 1px solid #595959;
	background: #454545; color: #969696;
}
.linkMenu:active{
	padding-top: 6px;
	padding-bottom: 4px; 
	color: white;}
.headlink{
	position: relative;
	float:left;
	margin-left:3px;
	padding:3px 5px;
	height: 19px;
	cursor:pointer;
	border:1px solid #282828;
	border-top: 1px solid #4a4a4a;
	background: #373737;
	vertical-align: middle;
}

.headlink:hover{
	border:1px solid #282828;
	border-top: 1px solid #595959;
	background: #454545; color: #969696;
}
.headlink:active{padding-top: 4px;padding-bottom: 2px; color: white;}
a{color: #969696; text-decoration: none;}
a:hover{color: white;}
a:active{color: white;}
.header{border:1px solid #282828;height:26px; background: rgba(70,70,70,0.90);}	
.menu{

width:155px;
padding:20px;
background: rgba(50,50,50,0.90);
border:1px solid #282828;
border-bottom: 0px; border-top: 0px;
	}
.menu2{padding-top: 5px;}
.boxMenu{
	width:158px; 
	padding:5px; 
	border: 1px solid #777777; 
	background: #252525;}
.boxMenu_auth{
	width:158px; 
	
	padding:5px; border: 1px solid #282828; 
	background: #252525;}
.content{
padding:25px;
background: rgba(70,70,70,0.90);border:1px solid #282828;border-bottom: 0px;border-top: 0px;
border-left:4px solid #282828;
	}
.titlebar{
	padding:5px;
	height:20px;
	background: url('image/title_bar.png');
	background-repeat: repeat;}
.contentBox{padding:25px 0px;margin-bottom:10px;border: 1px solid #777777; background: #363636;}
.contentInBox{padding:5px;background: #1F1F1F;}
.footer{
	height:40px;
	color: white;
	background: rgba(50,50,50,0.95);
	border:1px solid #282828;
	}
.status{width:150px;}
.topmenu{
	position:relative;
	float:left;
}
input[value="Войти"]
{
	vertical-align: left;
	text-align: left;
	width:170px;
}
input{outline:none;}
input[type="text"]{width:154px; height:15px; margin-bottom:5px; }
input[type="button"],[type="reset"],[type="submit"]{
	outline: none;
	padding: 5px;
	cursor:pointer;
	color: #969696;
	outline: none;
	border:1px solid #282828;
	border-top: 1px solid #4a4a4a;
	background: #373737;
}

input[type="button"]:hover,[type="reset"]:hover,[type="submit"]:hover{
	border:1px solid #282828;
	border-top: 1px solid #595959;
	background: #454545; color: #969696;
}
input[type="button"]:active,[type="reset"]:active,[type="submit"]:active{padding-top: 6px;padding-bottom: 4px; color: white;}
#digital_watch{color: #FFFFFF;
	font-size: 9pt;
	font-family: 'MS Sans Serif';
	vertical-align: center;
	text-align: center;
}
.Hmenu{
	position:relative;
	padding:1px 5px;
	border:1px solid #c5c5c5; 
	width:158px; height:18px; 
	margin-bottom:1px; 
	background: url('image/title_bar.png') #757678;;
	background-repeat: repeat;}
.brs{
	position:relative;
	width:168px;
	height:15px;
	border: 1px solid #282828; 
	background: #252525;
}
.brsn{
	position:relative;
	width:158px; 
	height:15px;
}
h4{margin:0;}