html, body{
	margin: 0;
	height: 100%;
	font: 12px/18px Verdana, Tahoma, Arial, sans-serif;
	background: url('/Assets/image/bg.jpg') black;
	background-position:center center;
	background-repeat: no-repeat;
	color:white;
	background-attachment:fixed;
}
a{	text-decoration: none;}
a:hover{	text-decoration: none; }

.center {
    display: table;
}
.left-side {
    float: none;
    display: table-cell;
}
.right-side {
    float: none;
    display: table-cell;
}


.container{
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}
.header{
	border:1px solid #282828;
	height:26px;
	background: rgba(70,70,70,0.90);
}
.menu{
	padding:20px;
	background: rgba(50,50,50,0.90);
	border:1px solid #282828;
	border-bottom: 0px; 
	border-top: 0px;
	/*border: solid red;*/
}
.list{
	width: 100%;
	padding:25px;
	background: rgba(70,70,70,0.90);
	border:1px solid #282828;
	border-bottom: 0px;
	border-top: 0px;
	border-left:4px solid #282828;
}
.footer{
	height:40px;
	background: rgba(50,50,50,0.95);
	border:1px solid #282828;
}



/*--------------------------content-----------------------------*/
.titlebar{
	padding:5px;
	height:30px;
	background: url('/Assets/image/title_bar.png');
	background-repeat: repeat;
}
.contentBox{padding:25px 0px;margin-bottom:10px;border: 1px solid #777777; background: #363636;}
.contentInBox{padding:5px;background: #1F1F1F; font-size: 10pt;}

/*--------------------------menu and button-----------------------------*/

.Hmenu > h4{
	font-size: 10pt;
	position:relative;
	top: -10px;
}
.Hmenu{
	width:172px;
	padding:1px 5px;
	border:1px solid #c5c5c5; 
	height:20px; 
	margin-bottom:1px; 
	background: url('/Assets/image/title_bar.png') #757678;;
	background-repeat: repeat;
}
input{outline:none;}
input[value="Войти"]
{
	vertical-align: left;
	text-align: left;
	width:100%;
}

input[type="button"],[type="reset"],[type="submit"],button{
	outline: none;
	padding: 5px;
	cursor:pointer;
	color: #969696;
	outline: none;
	border:1px solid #282828;
	border-top: 1px solid #4a4a4a;
	background: #373737;
}
input[type="button"]:hover,[type="reset"]:hover,[type="submit"]:hover,button:hover{
	border:1px solid #282828;
	border-top: 1px solid #595959;
	background: #454545; color: #969696;
}
input[type="button"]:active,[type="reset"]:active,[type="submit"]:active,button:active{padding-top: 6px;padding-bottom: 4px; color: white;}
input[type="text"].logins{color:black;	border:1px solid #282828;	border-top: 1px solid #4a4a4a;}
input[type="password"].logins{color:black;	border:1px solid #282828;	border-top: 1px solid #4a4a4a;}

.brs{
	position:relative;
	height:15px;
	border: 1px solid #282828; 
	background: #252525;
}
.brsn{	position:relative;	height:15px;}
.boxMenu_auth{	padding:5px; border: 1px solid #282828;	background: #252525;}
.linkMenu{
	position:relative;
	padding: 5px;
	cursor:pointer;
	color: #969696;
	outline: none;
	border:1px solid #282828;
	border-top: 1px solid #4a4a4a;
	background: #373737;
}
.linkMenu:hover{	border:1px solid #282828;	border-top: 1px solid #595959;	background: #454545; color: #969696;}
.linkMenu:active{	padding-top: 6px;	padding-bottom: 4px;	color: white;}

.hider{
	display: none;
}
#hidden{
	display: visible;
}

@media screen and (max-width: 768px) {
	.center {
	    display: block;
	}
	.left-side {
	    float: none;
	    display: inline-block;
	}
	.right-side {
	    float: none;
	    display: inline-block;
	}
	input[type="submit"]{
		text-align:  center;
	}
	.Hmenu{
		text-align:  center;
		width:100%;
	}
	.menu{
		text-align:  center;
		width: 100%;
		padding:25px;
		border:1px solid #282828;
		border-bottom: 0px; 
		border-top: 0px;
	}
	.list{
		margin: 0px;
		border:1px solid #282828;
		border-bottom: 0px;
		border-top: 0px;
	}
	.hider{
		display: inline-block;
	}
	#hidden{
		display: none;
	}
}


